{% extends 'base.html' %} {% block content %}
<div class="mt-3 rounded-2 overflow-hidden border border-warning p-2">
    <h1>Manufacturer's Product Report</h1>
    <table class="table table-warning m-0">
        <thead>
            <tr>
                <th>Manufacturer Name</th>
                <th>Total Products</th>
                <th>Average Price</th>
                <th>Min Price</th>
                <th>Max Price</th>
            </tr>
        </thead>
        <tbody>
            {% for manufacture in manufactures %}
            <tr>
                <td>
                    <a href="{{ url_for('view_specific_manufacture', manufacture_name=manufacture.manufacture_name) }}">
                        {{ manufacture.manufacture_name }}
                    </a>
                </td>
                <td>{{ manufacture.count }}</td>
                <td>${{ "{:,}".format(manufacture.avg_price) }}</td>
                <td>${{ "{:,}".format(manufacture.min_price) }}</td>
                <td>${{ "{:,}".format(manufacture.max_price) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
